
:root {
    background-color: rgb(61, 61, 61);
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Import Arcarde-themed font here */
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    color: white;
    margin-bottom: 4rem;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 5px;
    margin: 10px;
    font-size: 2.4rem;
    width: 30rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    color: purple;
    background-color: whitesmoke;
    border-radius: 2px;
}

.btn:hover {
    box-shadow: 0 0.5rem 1rem black;
    background-color: yellow;
}

.btn[disabled]:hover {
    box-shadow: none;
    background-color: gray;
}

#highscore-btn {
    
}
#start-screen {

}

#quiz {
    
}

#score-container {
    display: none;
}

.hidden {
    display: none;
}

#question-title {
    font-size: larger;
    text-align: center;
}

#question {
    font-size: large;
    font-weight: bold;
}